/* Footer */
div {
  position: absolute;
  width: 1440px;
  height: 68px;
  left: 0px;
  top: 956px;
  background: #cc7272;
}

/* Feito com amor */
p {
  position: absolute;
  left: 41.58%;
  right: 41.49%;
  top: 23.53%;
  bottom: 23.53%;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height, or 164% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
